 ## Data Analysis

### Here is a breakdown of what each column represents:

- gvkey: a unique identifier for the company (Global Company Key)
- cid: a unique identifier for the customer
- cnms: customer name
- ctype: customer type
- gareac: geographic area code
- gareat: geographic area type
- salecs: sales in current period (in millions)
- sid: segment identifier
- stype: segment type
- srcdate: source date
- conm: company name
- tic: stock ticker symbol
- cusip: CUSIP number, a unique identifier for a security
- cik: SEC Central Index Key, a unique identifier for a company
- sic: Standard Industrial Classification code, a numerical code used to classify industries

In [1]:
## imports
import pandas as pd
import numpy as np
import os
from eda import insufficient_but_starting_eda
import seaborn as sns

## Getting the SP500 data

In [2]:
## downloading the SP500 info from the web
os.makedirs("inputs", exist_ok=True)
sp500_file = 'inputs/sp500_2022.csv'

if not os.path.exists(sp500_file):
    url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
    pd.read_html(url)[0].to_csv(sp500_file,index=False)

In [3]:
comp = pd.read_csv('inputs/cust_supply_2019_2022.csv')
comp

,gvkey,cid,cnms,ctype,gareac,gareat,salecs,sid,stype,srcdate,conm,tic,cusip,cik,sic
0,1004,31,All Other,MARKET,NaN,NaN,NaN,0,NaN,2019-05-31,AAR CORP,AIR,000361105,1750.0,5080
1,1004,18,U.S. Government,GOVDOM,USA,ISO,455.900,20,BUSSEG,2019-05-31,AAR CORP,AIR,000361105,1750.0,5080
2,1004,26,U.S. Government,GOVDOM,USA,ISO,90.300,22,BUSSEG,2019-05-31,AAR CORP,AIR,000361105,1750.0,5080
3,1004,36,Europe/Africa,GEOREG,EUROPE,REG,5.800,22,BUSSEG,2019-05-31,AAR CORP,AIR,000361105,1750.0,5080
4,1004,34,Other,GEOREG,OTHER,REG,170.400,20,BUSSEG,2019-05-31,AAR CORP,AIR,000361105,1750.0,5080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77896,350681,1,Large Corporate Clients,MARKET,NaN,NaN,76.814,1,BUSSEG,2021-12-31,GETNET ADQUIRENCIA E,GET,37428A103,1867325.0,7374
77897,353444,4,Rest of the World,GEOREG,R_WORLD,REG,7148.294,1,BUSSEG,2021-12-31,HALEON PLC,HLN,405552100,NaN,2834
77898,353444,3,China,GEOREG,CHN,ISO,1084.634,1,BUSSEG,2021-12-31,HALEON PLC,HLN,405552100,NaN,2834
77899,353444,2,US,GEOREG,USA,ISO,4249.166,1,BUSSEG,2021-12-31,HALEON PLC,HLN,405552100,NaN,2834
77900,353444,1,UK,GEOREG,GBR,ISO,442.791,1,BUSSEG,2021-12-31,HALEON PLC,HLN,405552100,NaN,2834

In [4]:
sp500 = pd.read_csv('inputs/sp500_2022.csv')
sp500

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

# Merging the data

In [5]:
# Select rows where 'cnms' is not equal to 'U.S. Government'

comp2 = comp
#comp2 = comp[comp['ctype'] == 'COMPANY']
comp2 = comp2[comp2['cnms'] != 'Not Reported']
# comp4 = comp2[comp2['cnms'] == 'Not Reported']
# comp4

comp3 = comp2.dropna(subset=['salecs'])
comp3

,gvkey,cid,cnms,ctype,gareac,gareat,salecs,sid,stype,srcdate,conm,tic,cusip,cik,sic
1,1004,18,U.S. Government,GOVDOM,USA,ISO,455.900,20,BUSSEG,2019-05-31,AAR CORP,AIR,000361105,1750.0,5080
2,1004,26,U.S. Government,GOVDOM,USA,ISO,90.300,22,BUSSEG,2019-05-31,AAR CORP,AIR,000361105,1750.0,5080
3,1004,36,Europe/Africa,GEOREG,EUROPE,REG,5.800,22,BUSSEG,2019-05-31,AAR CORP,AIR,000361105,1750.0,5080
4,1004,34,Other,GEOREG,OTHER,REG,170.400,20,BUSSEG,2019-05-31,AAR CORP,AIR,000361105,1750.0,5080
5,1004,32,North America,GEOREG,N_AMER,REG,1426.800,20,BUSSEG,2019-05-31,AAR CORP,AIR,000361105,1750.0,5080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77896,350681,1,Large Corporate Clients,MARKET,NaN,NaN,76.814,1,BUSSEG,2021-12-31,GETNET ADQUIRENCIA E,GET,37428A103,1867325.0,7374
77897,353444,4,Rest of the World,GEOREG,R_WORLD,REG,7148.294,1,BUSSEG,2021-12-31,HALEON PLC,HLN,405552100,NaN,2834
77898,353444,3,China,GEOREG,CHN,ISO,1084.634,1,BUSSEG,2021-12-31,HALEON PLC,HLN,405552100,NaN,2834
77899,353444,2,US,GEOREG,USA,ISO,4249.166,1,BUSSEG,2021-12-31,HALEON PLC,HLN,405552100,NaN,2834
77900,353444,1,UK,GEOREG,GBR,ISO,442.791,1,BUSSEG,2021-12-31,HALEON PLC,HLN,405552100,NaN,2834

In [6]:
comp3 = comp3.rename(columns = {'cik': 'CIK'})
merged = comp3.merge(sp500, on='CIK', how = 'inner')
merged

,gvkey,cid,cnms,ctype,gareac,gareat,salecs,sid,stype,srcdate,...,cusip,CIK,sic,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,Founded
0,1075,22,Retail non-residential electric service,MARKET,NaN,NaN,1509.514,9,BUSSEG,2019-12-31,...,723484101,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985
1,1075,21,Retail residential electric service,MARKET,NaN,NaN,1761.122,9,BUSSEG,2019-12-31,...,723484101,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985
2,1075,23,Wholesale energy sales,MARKET,NaN,NaN,121.805,9,BUSSEG,2019-12-31,...,723484101,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985
3,1075,25,Other sources,MARKET,NaN,NaN,16.308,9,BUSSEG,2019-12-31,...,723484101,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985
4,1075,24,Transmission services for others,MARKET,NaN,NaN,62.460,9,BUSSEG,2019-12-31,...,723484101,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9104,316056,3,10 Customers,COMPANY,NaN,NaN,656.420,1,BUSSEG,2019-12-31,...,G0176J109,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908
9105,316056,8,Non-U.S.,GEOREG,OTHER,REG,814.400,1,BUSSEG,2020-12-31,...,G0176J109,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908
9106,316056,4,United States,GEOREG,USA,ISO,1905.500,1,BUSSEG,2020-12-31,...,G0176J109,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908
9107,316056,3,10 Customers,COMPANY,NaN,NaN,652.776,1,BUSSEG,2020-12-31,...,G0176J109,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908
9108,316056,3,10 Customers,COMPANY,NaN,NaN,716.850,0,NaN,2021-12-31,...,G0176J109,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908

In [7]:
#looking at the dates - see there is a filing in every month...
merged['date'] = pd.to_datetime(merged['srcdate'])
dates = merged.sort_values(by='srcdate')
print(dates['srcdate'])

1027    2019-01-31
7409    2019-01-31
8211    2019-01-31
7407    2019-01-31
7406    2019-01-31
           ...
518     2022-12-31
519     2022-12-31
520     2022-12-31
3172    2022-12-31
8108    2022-12-31
Name: srcdate, Length: 9109, dtype: object

In [8]:
start_date = '2020-01-01'
end_date = '2021-12-31'
filtered_df = merged.query('@start_date <= date <= @end_date')

# get the indices of the filtered dates
filtered_indices = filtered_df.index

# drop the filtered dates from the original dataframe
filtered_out_df = merged.drop(filtered_indices)

filtered_out_df

,gvkey,cid,cnms,ctype,gareac,gareat,salecs,sid,stype,srcdate,...,CIK,sic,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,Founded,date
0,1075,22,Retail non-residential electric service,MARKET,NaN,NaN,1509.514,9,BUSSEG,2019-12-31,...,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985,2019-12-31
1,1075,21,Retail residential electric service,MARKET,NaN,NaN,1761.122,9,BUSSEG,2019-12-31,...,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985,2019-12-31
2,1075,23,Wholesale energy sales,MARKET,NaN,NaN,121.805,9,BUSSEG,2019-12-31,...,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985,2019-12-31
3,1075,25,Other sources,MARKET,NaN,NaN,16.308,9,BUSSEG,2019-12-31,...,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985,2019-12-31
4,1075,24,Transmission services for others,MARKET,NaN,NaN,62.460,9,BUSSEG,2019-12-31,...,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985,2019-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9062,189491,4,Treatment,MARKET,NaN,NaN,397.000,1,BUSSEG,2019-12-31,...,1524472.0,3561,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,2011,2019-12-31
9063,189491,3,Transport,MARKET,NaN,NaN,1780.000,1,BUSSEG,2019-12-31,...,1524472.0,3561,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,2011,2019-12-31
9102,316056,8,Non-U.S.,GEOREG,OTHER,REG,865.100,1,BUSSEG,2019-12-31,...,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908,2019-12-31
9103,316056,4,United States,GEOREG,USA,ISO,1988.900,1,BUSSEG,2019-12-31,...,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908,2019-12-31
9104,316056,3,10 Customers,COMPANY,NaN,NaN,656.420,1,BUSSEG,2019-12-31,...,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908,2019-12-31

In [9]:
listkeys = pd.DataFrame(filtered_out_df['gvkey'].unique())
listkeys.to_csv('inputs/listkeys.csv', index=False)

In [10]:
g = merged.groupby("CIK")['cnms'].apply(lambda x: list(np.unique(x)))
len(g)

358

### EDA

In [11]:
insufficient_but_starting_eda(comp, ['cnms', 'ctype', 'gareac', 'gareat', 
                            'stype', 'srcdate', 'conm', 'tic', 'cusip'])

   gvkey  cid             cnms   ctype  gareac gareat  salecs  sid   stype  \
0   1004   31        All Other  MARKET     NaN    NaN     NaN    0     NaN
1   1004   18  U.S. Government  GOVDOM     USA    ISO   455.9   20  BUSSEG
2   1004   26  U.S. Government  GOVDOM     USA    ISO    90.3   22  BUSSEG
3   1004   36    Europe/Africa  GEOREG  EUROPE    REG     5.8   22  BUSSEG
4   1004   34            Other  GEOREG   OTHER    REG   170.4   20  BUSSEG

      srcdate      conm  tic      cusip     cik   sic
0  2019-05-31  AAR CORP  AIR  000361105  1750.0  5080
1  2019-05-31  AAR CORP  AIR  000361105  1750.0  5080
2  2019-05-31  AAR CORP  AIR  000361105  1750.0  5080
3  2019-05-31  AAR CORP  AIR  000361105  1750.0  5080
4  2019-05-31  AAR CORP  AIR  000361105  1750.0  5080
---
        gvkey  cid                     cnms   ctype   gareac gareat    salecs  \
77896  350681    1  Large Corporate Clients  MARKET      NaN    NaN    76.814
77897  353444    4        Rest of the World  GEOREG  R_WORLD    REG  7148.294
77898  353444    3                    China  GEOREG      CHN    ISO  1084.634
77899  353444    2                       US  GEOREG      USA    ISO  4249.166
77900  353444    1                       UK  GEOREG      GBR    ISO   442.791

       sid   stype     srcdate                  conm  tic      cusip  \
77896    1  BUSSEG  2021-12-31  GETNET ADQUIRENCIA E  GET  37428A103
77897    1  BUSSEG  2021-12-31            HALEON PLC  HLN  405552100
77898    1  BUSSEG  2021-12-31            HALEON PLC  HLN  405552100
77899    1  BUSSEG  2021-12-31            HALEON PLC  HLN  405552100
77900    1  BUSSEG  2021-12-31            HALEON PLC  HLN  405552100

             cik   sic
77896  1867325.0  7374
77897        NaN  2834
77898        NaN  2834
77899        NaN  2834
77900        NaN  2834
---
Index(['gvkey', 'cid', 'cnms', 'ctype', 'gareac', 'gareat', 'salecs', 'sid',
       'stype', 'srcdate', 'conm', 'tic', 'cusip', 'cik', 'sic'],
      dtype='object')
---
The shape is:  (77901, 15)
---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77901 entries, 0 to 77900
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   gvkey    77901 non-null  int64
 1   cid      77901 non-null  int64
 2   cnms     77901 non-null  object
 3   ctype    77901 non-null  object
 4   gareac   32848 non-null  object
 5   gareat   32865 non-null  object
 6   salecs   68264 non-null  float64
 7   sid      77901 non-null  int64
 8   stype    67013 non-null  object
 9   srcdate  77901 non-null  object
 10  conm     77901 non-null  object
 11  tic      77894 non-null  object
 12  cusip    77901 non-null  object
 13  cik      77419 non-null  float64
 14  sic      77901 non-null  int64
dtypes: float64(2), int64(4), object(9)
memory usage: 8.9+ MB
Info: None
---
               gvkey           cid         salecs           sid           cik  \
count   77901.000000  77901.000000   68264.000000  77901.000000  7.741900e+04
mean    65404.898576     27.709336     876.577773      4.974634  1.043317e+06
std     72289.710392     28.479348    4733.002892      7.997586  5.536303e+05
min      1004.000000      1.000000   -3464.000000      0.000000  1.750000e+03
25%     13189.000000      8.000000      10.400000      1.000000  8.065170e+05
50%     30571.000000     19.000000      75.822500      1.000000  1.076682e+06
75%    115044.000000     38.000000     411.142500      6.000000  1.511337e+06
max    353444.000000    261.000000  278969.090000     99.000000  1.962738e+06

                sic
count  77901.000000
mean    4681.055211
std     1997.686220
min      100.000000
25%     3310.000000
50%     3841.000000
75%     6798.000000
max     9997.000000
---
cnms has 9976 values and its top 10 most common are:
Not Reported     10597
United States     2243
Europe            1614
Other             1542
International     1382
North America     1359
2 Customers        803
Asia Pacific       743
3 Customers        715
Canada             683
Name: cnms, dtype: int64
---
ctype has 7 values and its top 10 most common are:
COMPANY     31408
GEOREG      27754
MARKET      16634
GOVDOM       1707
GOVFRN        218
GOVSTATE      156
GOVLOC         24
Name: ctype, dtype: int64
---
gareac has 227 values and its top 10 most common are:
USA         5795
OTHER       4549
EUROPE      3024
ASIA        2333
N_AMER      1644
CHN         1136
AMERICAS     951
CAN          781
GBR          624
L_AMER       541
Name: gareac, dtype: int64
---
gareat has 3 values and its top 10 most common are:
REG      14931
ISO      12879
STATE     5055
Name: gareat, dtype: int64
---
stype has 3 values and its top 10 most common are:
BUSSEG    54933
GEOSEG     8857
OPSEG      3223
Name: stype, dtype: int64
---
srcdate has 48 values and its top 10 most common are:
2019-12-31    20200
2020-12-31    20150
2021-12-31    19688
2020-09-30     1249
2019-09-30     1233
2021-09-30     1160
2019-03-31     1098
2020-03-31     1093
2021-03-31      984
2022-03-31      942
Name: srcdate, dtype: int64
---
conm has 4417 values and its top 10 most common are:
GLOBAL NET LEASE INC            220
ESSENTIAL PPT RLTY TST          217
W P CAREY INC                   213
EASTERLY GOVERNMENT PPTYS       208
AGREE REALTY CORP               188
ENEL SPA                        184
HITACHI LTD                     183
NECESSITY RET REIT INC (THE)    174
BRIXMOR PROPERTY GROUP INC      164
INDSTRL LGST PRPT TRST          164
Name: conm, dtype: int64
---
tic has 4416 values and its top 10 most common are:
GNL      220
EPRT     217
WPC      213
DEA      208
ADC      188
ENLAY    184
HTHIY    183
RTL      174
BRX      164
ILPT     164
Name: tic, dtype: int64
---
cusip has 4417 values and its top 10 most common are:
379378201    220
29670E107    217
92936U109    213
27616P103    208
008492100    188
29265W207    184
433578507    183
02607T109    174
11120U105    164
456237106    164
Name: cusip, dtype: int64
---

In [12]:
comp.describe() # describes integers

,gvkey,cid,salecs,sid,cik,sic
count,77901.000000,77901.000000,68264.000000,77901.000000,7.741900e+04,77901.000000
mean,65404.898576,27.709336,876.577773,4.974634,1.043317e+06,4681.055211
std,72289.710392,28.479348,4733.002892,7.997586,5.536303e+05,1997.686220
min,1004.000000,1.000000,-3464.000000,0.000000,1.750000e+03,100.000000
25%,13189.000000,8.000000,10.400000,1.000000,8.065170e+05,3310.000000
50%,30571.000000,19.000000,75.822500,1.000000,1.076682e+06,3841.000000
75%,115044.000000,38.000000,411.142500,6.000000,1.511337e+06,6798.000000
max,353444.000000,261.000000,278969.090000,99.000000,1.962738e+06,9997.000000

In [13]:
##missing values
ccm = comp
(
    ( # these lines do the calculation - what % of missing values are there for each var
        ccm.isna()      # ccm.isna() TURNS every obs/variable = 1 when its missing and 0 else
       .sum(axis=0)     # count the number of na for each variable (now data is 1 obs per column = # missing)
        /len(ccm)       # convert # missing to % missing 
        *100            # report as percentage
    ) 
    # you can stop here and report this...
    # but I wanted to format it a bit...
    .sort_values(ascending=False)[:13]
    .to_frame(name='% missing') # the next line only works on a frame, and because pandas sees only 1 variable at this pt
    .style.format("{:.1f}")     # in the code, it calls this a "series" type object, so convert it to dataframe type object
)
#

## several calculations

In [14]:
merged

,gvkey,cid,cnms,ctype,gareac,gareat,salecs,sid,stype,srcdate,...,CIK,sic,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,Founded,date
0,1075,22,Retail non-residential electric service,MARKET,NaN,NaN,1509.514,9,BUSSEG,2019-12-31,...,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985,2019-12-31
1,1075,21,Retail residential electric service,MARKET,NaN,NaN,1761.122,9,BUSSEG,2019-12-31,...,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985,2019-12-31
2,1075,23,Wholesale energy sales,MARKET,NaN,NaN,121.805,9,BUSSEG,2019-12-31,...,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985,2019-12-31
3,1075,25,Other sources,MARKET,NaN,NaN,16.308,9,BUSSEG,2019-12-31,...,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985,2019-12-31
4,1075,24,Transmission services for others,MARKET,NaN,NaN,62.460,9,BUSSEG,2019-12-31,...,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985,2019-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9104,316056,3,10 Customers,COMPANY,NaN,NaN,656.420,1,BUSSEG,2019-12-31,...,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908,2019-12-31
9105,316056,8,Non-U.S.,GEOREG,OTHER,REG,814.400,1,BUSSEG,2020-12-31,...,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908,2020-12-31
9106,316056,4,United States,GEOREG,USA,ISO,1905.500,1,BUSSEG,2020-12-31,...,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908,2020-12-31
9107,316056,3,10 Customers,COMPANY,NaN,NaN,652.776,1,BUSSEG,2020-12-31,...,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908,2020-12-31
9108,316056,3,10 Customers,COMPANY,NaN,NaN,716.850,0,NaN,2021-12-31,...,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908,2021-12-31

### Percentage1: 'ctype', 'GICS Sector', 'srcdate' and 'salecs'

In [15]:
# Group the data by ctype, GICS Sector, and srcdate
grouped1 = merged.groupby(['ctype', 'GICS Sector', 'srcdate'])

# Calculate the sum of salecs for each group
totals1 = grouped1['salecs'].sum()

# Calculate the percentage of salecs in each group
percentages1 = totals1.groupby(['ctype', 'GICS Sector']).apply(lambda x: 100 * x / float(x.sum()))

# Print the result
print(percentages1)

# percentages.reset_index().to_csv('inputs/percentages1.csv', index=False)

ctype    GICS Sector             srcdate
COMPANY  Communication Services  2019-03-31     6.115293
                                 2019-12-31    21.917325
                                 2020-03-31     7.659017
                                 2020-12-31    22.158273
                                 2021-03-31     8.716608
                                                 ...
MARKET   Real Estate             2020-12-31    23.131981
                                 2021-12-31    33.835824
         Utilities               2019-12-31    32.657454
                                 2020-12-31    32.006205
                                 2021-12-31    35.336341
Name: salecs, Length: 465, dtype: float64

/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_71585/3347923993.py:8: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  percentages1 = totals1.groupby(['ctype', 'GICS Sector']).apply(lambda x: 100 * x / float(x.sum()))

### Percentage2: based on Ctype

In [16]:
# Extract the year from srcdate
merged2 = merged
merged2['year'] = pd.to_datetime(merged2['srcdate']).dt.year

# Group the data by ctype, year, and GICS Sector
grouped2 = merged2.groupby(['ctype', 'year', 'GICS Sector'])

# Calculate the sum of salecs for each group
totals2 = grouped2['salecs'].sum()

# Calculate the percentage of salecs in each group
percentages2 = totals2.groupby(['ctype', 'year']).apply(lambda x: 100 * x / float(x.sum()))

# Print the result
print(percentages2)

ctype    year  GICS Sector
COMPANY  2019  Communication Services     1.756172
               Consumer Discretionary     3.525216
               Consumer Staples          17.555044
               Energy                     1.492252
               Financials                 2.879877
                                           ...
MARKET   2022  Consumer Staples          22.805041
               Health Care                0.623047
               Industrials                2.135718
               Information Technology    60.742359
               Materials                  1.155348
Name: salecs, Length: 149, dtype: float64

/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_71585/4146107600.py:12: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  percentages2 = totals2.groupby(['ctype', 'year']).apply(lambda x: 100 * x / float(x.sum()))

### Percentage3: based on GICS Sector

In [17]:
# Extract the year from srcdate
merged2 = merged
merged2['year'] = pd.to_datetime(merged2['srcdate']).dt.year

# Group the data by ctype, year, and GICS Sector
grouped2 = merged2.groupby(['GICS Sector', 'year', 'ctype'])

# Calculate the sum of salecs for each group
totals2 = grouped2['salecs'].sum()

# Calculate the percentage of salecs in each group
sum3 = totals2.groupby(['GICS Sector', 'year', 'ctype']).apply(lambda x: x.sum())
sum3.reset_index().to_csv('inputs/sum3.csv', index=False)

# Print the result
print(sum3)

GICS Sector             year  ctype
Communication Services  2019  COMPANY     15996.741
                              GEOREG     349817.698
                              MARKET     126288.804
                        2020  COMPANY     17015.159
                              GEOREG     379065.473
                                            ...
Utilities               2020  MARKET     256173.752
                        2021  COMPANY      2939.200
                              GEOREG      26414.000
                              GOVDOM        783.000
                              MARKET     282827.750
Name: salecs, Length: 149, dtype: float64

# Accounting Data

In [18]:
acct_raw = pd.read_csv("inputs/acct_data.csv")
acct_raw

,gvkey,fyear,acominc,ap,at,capx,capxv,cogs,epsfx,gp,ib,invt,ni,oibdp,rect,sale
0,1004,2018,-40.900,187.800,1517.200,17.400,17.400,1679.500,2.40,372.300,84.100,589.000,7.500,153.500,258.100,2051.800
1,1004,2019,-44.600,191.600,2079.000,23.600,23.600,1728.700,0.71,360.600,24.800,692.700,4.400,150.100,229.100,2089.300
2,1004,2020,-18.300,127.200,1539.700,11.300,11.300,1364.600,1.30,286.800,46.300,591.000,35.800,101.800,238.600,1651.400
3,1004,2021,-19.600,156.400,1573.900,17.300,17.300,1470.300,2.16,346.800,78.500,604.100,78.700,149.300,290.300,1817.100
4,1045,2018,-5274.000,1773.000,60580.000,3745.000,3745.000,31365.000,3.03,13176.000,1412.000,1522.000,1412.000,5606.000,1706.000,44541.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26900,349972,2022,0.096,1.378,28.064,0.000,0.000,0.000,-1.73,0.000,-14.323,0.000,-14.323,-14.909,0.000,0.000
26901,350681,2021,-0.043,9263.248,10595.813,67.367,67.367,265.517,0.09,246.577,85.469,7.341,85.469,180.979,9796.007,512.094
26902,351038,2021,0.000,0.923,9.357,0.000,0.000,0.000,-5.42,0.000,-21.463,0.000,-21.463,-5.959,0.000,0.000
26903,351038,2022,0.000,0.606,14.458,0.000,0.000,0.000,-3.90,0.000,-9.381,0.000,-9.381,-9.153,0.000,0.000
26904,353444,2022,1441.060,2210.991,41948.594,366.290,366.290,4629.226,0.28,8453.578,1277.194,1624.205,1277.194,3259.254,2254.368,13082.804

In [19]:
insufficient_but_starting_eda(acct_raw)

   gvkey  fyear  acominc      ap       at    capx   capxv     cogs  epsfx  \
0   1004   2018    -40.9   187.8   1517.2    17.4    17.4   1679.5   2.40
1   1004   2019    -44.6   191.6   2079.0    23.6    23.6   1728.7   0.71
2   1004   2020    -18.3   127.2   1539.7    11.3    11.3   1364.6   1.30
3   1004   2021    -19.6   156.4   1573.9    17.3    17.3   1470.3   2.16
4   1045   2018  -5274.0  1773.0  60580.0  3745.0  3745.0  31365.0   3.03

        gp      ib    invt      ni   oibdp    rect     sale
0    372.3    84.1   589.0     7.5   153.5   258.1   2051.8
1    360.6    24.8   692.7     4.4   150.1   229.1   2089.3
2    286.8    46.3   591.0    35.8   101.8   238.6   1651.4
3    346.8    78.5   604.1    78.7   149.3   290.3   1817.1
4  13176.0  1412.0  1522.0  1412.0  5606.0  1706.0  44541.0
---
        gvkey  fyear   acominc        ap         at     capx    capxv  \
26900  349972   2022     0.096     1.378     28.064    0.000    0.000
26901  350681   2021    -0.043  9263.248  10595.813   67.367   67.367
26902  351038   2021     0.000     0.923      9.357    0.000    0.000
26903  351038   2022     0.000     0.606     14.458    0.000    0.000
26904  353444   2022  1441.060  2210.991  41948.594  366.290  366.290

           cogs  epsfx        gp        ib      invt        ni     oibdp  \
26900     0.000  -1.73     0.000   -14.323     0.000   -14.323   -14.909
26901   265.517   0.09   246.577    85.469     7.341    85.469   180.979
26902     0.000  -5.42     0.000   -21.463     0.000   -21.463    -5.959
26903     0.000  -3.90     0.000    -9.381     0.000    -9.381    -9.153
26904  4629.226   0.28  8453.578  1277.194  1624.205  1277.194  3259.254

           rect       sale
26900     0.000      0.000
26901  9796.007    512.094
26902     0.000      0.000
26903     0.000      0.000
26904  2254.368  13082.804
---
Index(['gvkey', 'fyear', 'acominc', 'ap', 'at', 'capx', 'capxv', 'cogs',
       'epsfx', 'gp', 'ib', 'invt', 'ni', 'oibdp', 'rect', 'sale'],
      dtype='object')
---
The shape is:  (26905, 16)
---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26905 entries, 0 to 26904
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   gvkey    26905 non-null  int64
 1   fyear    26905 non-null  int64
 2   acominc  24669 non-null  float64
 3   ap       24685 non-null  float64
 4   at       24832 non-null  float64
 5   capx     24575 non-null  float64
 6   capxv    22514 non-null  float64
 7   cogs     24754 non-null  float64
 8   epsfx    24734 non-null  float64
 9   gp       24754 non-null  float64
 10  ib       24753 non-null  float64
 11  invt     24499 non-null  float64
 12  ni       24753 non-null  float64
 13  oibdp    23838 non-null  float64
 14  rect     24612 non-null  float64
 15  sale     24755 non-null  float64
dtypes: float64(14), int64(2)
memory usage: 3.3 MB
Info: None
---
               gvkey         fyear        acominc            ap            at  \
count   26905.000000  26905.000000   24669.000000  2.468500e+04  2.483200e+04
mean    70110.339008   2020.003680    -193.922556  6.759971e+03  1.912273e+04
std     72284.855281      1.395863    2356.382557  7.559164e+04  1.294296e+05
min      1004.000000   2018.000000 -114734.000000  0.000000e+00  1.260000e-01
25%     19516.000000   2019.000000     -19.000000  4.484000e+00  2.125453e+02
50%     33695.000000   2020.000000      -0.093000  3.706200e+01  1.161340e+03
75%    136186.000000   2021.000000       0.000000  3.130000e+02  5.276946e+03
max    353444.000000   2022.000000   35312.000000  2.462303e+06  3.743567e+06

               capx         capxv           cogs         epsfx             gp  \
count  24575.000000  22514.000000   24754.000000  24734.000000   24754.000000
mean     322.056659    340.176196    3240.014061      1.082273    1779.214828
std     1701.627139   1762.539259   16042.235726      9.804587    7586.086639
min    -3258.000000  -3258.000000  -10210.762000   -274.650000  -17188.000000
25%        0.756000      0.679000      25.118500     -0.770000      15.264250
50%       10.503000     12.278000     194.470500      0.260000     171.645000
75%       86.989500     97.518750    1260.930250      2.150000     818.312750
max    63645.000000  63645.000000  452776.000000    499.660000  250076.000000

                 ib           invt            ni          oibdp          rect  \
count  24753.000000   24499.000000  24753.000000   23838.000000  2.461200e+04
mean     396.328359     871.847992    403.071353    1040.588721  5.614507e+03
std     2581.707327   10892.041812   2597.676221    4599.011533  5.270339e+04
min   -22819.000000       0.000000 -22819.000000  -17188.000000  0.000000e+00
25%      -28.323000       0.000000    -28.520000      -7.608000  8.683500e+00
50%        8.171000       4.543000      8.404000      51.933500  9.016400e+01
75%      147.121000     118.466500    150.611000     417.118500  6.075567e+02
max    99803.000000  503428.000000  99803.000000  128137.000000  1.164692e+06

                sale
count   24755.000000
mean     5018.980743
std     21774.263166
min    -11591.578000
25%        52.153500
50%       422.991000
75%      2172.350000
max    608481.000000
---

In [20]:
acct_raw.describe()

,gvkey,fyear,acominc,ap,at,capx,capxv,cogs,epsfx,gp,ib,invt,ni,oibdp,rect,sale
count,26905.000000,26905.000000,24669.000000,2.468500e+04,2.483200e+04,24575.000000,22514.000000,24754.000000,24734.000000,24754.000000,24753.000000,24499.000000,24753.000000,23838.000000,2.461200e+04,24755.000000
mean,70110.339008,2020.003680,-193.922556,6.759971e+03,1.912273e+04,322.056659,340.176196,3240.014061,1.082273,1779.214828,396.328359,871.847992,403.071353,1040.588721,5.614507e+03,5018.980743
std,72284.855281,1.395863,2356.382557,7.559164e+04,1.294296e+05,1701.627139,1762.539259,16042.235726,9.804587,7586.086639,2581.707327,10892.041812,2597.676221,4599.011533,5.270339e+04,21774.263166
min,1004.000000,2018.000000,-114734.000000,0.000000e+00,1.260000e-01,-3258.000000,-3258.000000,-10210.762000,-274.650000,-17188.000000,-22819.000000,0.000000,-22819.000000,-17188.000000,0.000000e+00,-11591.578000
25%,19516.000000,2019.000000,-19.000000,4.484000e+00,2.125453e+02,0.756000,0.679000,25.118500,-0.770000,15.264250,-28.323000,0.000000,-28.520000,-7.608000,8.683500e+00,52.153500
50%,33695.000000,2020.000000,-0.093000,3.706200e+01,1.161340e+03,10.503000,12.278000,194.470500,0.260000,171.645000,8.171000,4.543000,8.404000,51.933500,9.016400e+01,422.991000
75%,136186.000000,2021.000000,0.000000,3.130000e+02,5.276946e+03,86.989500,97.518750,1260.930250,2.150000,818.312750,147.121000,118.466500,150.611000,417.118500,6.075567e+02,2172.350000
max,353444.000000,2022.000000,35312.000000,2.462303e+06,3.743567e+06,63645.000000,63645.000000,452776.000000,499.660000,250076.000000,99803.000000,503428.000000,99803.000000,128137.000000,1.164692e+06,608481.000000

In [21]:
##missing values
ccm = acct_raw
(
    ( # these lines do the calculation - what % of missing values are there for each var
        ccm.isna()      # ccm.isna() TURNS every obs/variable = 1 when its missing and 0 else
       .sum(axis=0)     # count the number of na for each variable (now data is 1 obs per column = # missing)
        /len(ccm)       # convert # missing to % missing 
        *100            # report as percentage
    ) 
    # you can stop here and report this...
    # but I wanted to format it a bit...
    .sort_values(ascending=False)[:20]
    .to_frame(name='% missing') # the next line only works on a frame, and because pandas sees only 1 variable at this pt
    .style.format("{:.1f}")     # in the code, it calls this a "series" type object, so convert it to dataframe type object
)
#

# Understand Accounting Dataset

In [22]:
# what each var is
# ap - accounts payable (shows a company's financial ability to pay up/cover their finances)
# rect - receivbales/total (money they are waiting to receive)
# invt - inventory

# which var we want to use for net income
# ni will represent net income

# which var should we drop?
# oibdp, ib, acominc

In [23]:
# filter to just 2019 and 2022
# filter to have two observations for each gvkey
# drop unneeded variables

acct_df = acct_raw.query('fyear == 2019 or fyear == 2022')
value_counts = acct_df['gvkey'].value_counts()
acct_df2 = acct_df[acct_df['gvkey'].isin(value_counts.index[value_counts==2])].reset_index(drop=True)
#acct_df2.columns
acct_df3 = acct_df2[['gvkey', 'fyear', 'ap', 'at', 'capx', 'cogs', 'epsfx', 'gp', 'invt', 'ni', 'rect', 'sale']]
acct_df3

In [29]:
# create new variables

acct_df4 = acct_df3
ap_value = 0
at_value = 0
capx_value = 0
cogs_value = 0
epsfx_value = 0
gp_value = 0
invt_value = 0
ni_value = 0
rect_value = 0
sale_value = 0

for index, row in acct_df4.iterrows():
    # row can be used like row['var_name']
    if index%2 ==0:
        #recording the value of the 2019
        ap_value = row['ap']
        at_value = row['at']
        capx_value = row['capx']
        cogs_value = row['cogs']
        epsfx_value = row['epsfx']
        gp_value = row['gp']
        invt_value = row['invt']
        ni_value = row['ni']
        rect_value = row['rect']
        sale_value = row['sale']
    if index%2 ==1:
        # calculating the % change
        calc_ap_value = (row['ap'] - ap_value) / ap_value * 100
        calc_at_value = (row['at'] - at_value) / at_value * 100
        calc_capx_value = (row['capx'] - capx_value) / capx_value * 100
        calc_cogs_value = (row['cogs'] - cogs_value) / cogs_value * 100
        calc_epsfx_value = (row['epsfx'] - epsfx_value) / epsfx_value * 100
        calc_gp_value = (row['gp'] - gp_value) / gp_value * 100
        calc_invt_value = (row['invt'] - invt_value) / invt_value * 100
        calc_ni_value = (row['ni'] - ni_value) / ni_value * 100
        calc_rect_value = (row['rect'] - rect_value) / rect_value * 100
        calc_sale_value = (row['sale'] - sale_value) / sale_value * 100
        
        # adding it to the df
        acct_df4.loc[index,'calc_ap_value'] = calc_ap_value
        acct_df4.loc[index,'calc_at_value'] = calc_at_value
        acct_df4.loc[index,'calc_capx_value'] = calc_capx_value
        acct_df4.loc[index,'calc_cogs_value'] = calc_cogs_value
        acct_df4.loc[index,'calc_epsfx_value'] = calc_epsfx_value
        acct_df4.loc[index,'calc_gp_value'] = calc_gp_value
        acct_df4.loc[index,'calc_invt_value'] = calc_invt_value
        acct_df4.loc[index,'calc_ni_value'] = calc_ni_value
        acct_df4.loc[index,'calc_rect_value'] = calc_rect_value
        acct_df4.loc[index,'calc_sale_value'] = calc_sale_value
        
acct_df4

/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_71585/274360456.py:37: RuntimeWarning: invalid value encountered in double_scalars
  calc_invt_value = (row['invt'] - invt_value) / invt_value * 100
/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_71585/274360456.py:33: RuntimeWarning: invalid value encountered in double_scalars
  calc_capx_value = (row['capx'] - capx_value) / capx_value * 100
/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_71585/274360456.py:39: RuntimeWarning: divide by zero encountered in double_scalars
  calc_rect_value = (row['rect'] - rect_value) / rect_value * 100
/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_71585/274360456.py:33: RuntimeWarning: divide by zero encountered in double_scalars
  calc_capx_value = (row['capx'] - capx_value) / capx_value * 100
/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_71585/274360456.py:34: RuntimeWarning: invalid value encountered in double_scalars
  calc_cogs_value = (row['cogs'] - cogs_value) / cogs_value * 100
/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_71585/274360456.py:36: RuntimeWarning: invalid value encountered in double_scalars
  calc_gp_value = (row['gp'] - gp_value) / gp_value * 100
/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_71585/274360456.py:39: RuntimeWarning: invalid value encountered in double_scalars
  calc_rect_value = (row['rect'] - rect_value) / rect_value * 100
/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_71585/274360456.py:40: RuntimeWarning: invalid value encountered in double_scalars
  calc_sale_value = (row['sale'] - sale_value) / sale_value * 100
/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_71585/274360456.py:31: RuntimeWarning: divide by zero encountered in double_scalars
  calc_ap_value = (row['ap'] - ap_value) / ap_value * 100
/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_71585/274360456.py:31: RuntimeWarning: invalid value encountered in double_scalars
  calc_ap_value = (row['ap'] - ap_value) / ap_value * 100
/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_71585/274360456.py:37: RuntimeWarning: divide by zero encountered in double_scalars
  calc_invt_value = (row['invt'] - invt_value) / invt_value * 100
/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_71585/274360456.py:34: RuntimeWarning: divide by zero encountered in double_scalars
  calc_cogs_value = (row['cogs'] - cogs_value) / cogs_value * 100
/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_71585/274360456.py:36: RuntimeWarning: divide by zero encountered in double_scalars
  calc_gp_value = (row['gp'] - gp_value) / gp_value * 100
/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_71585/274360456.py:40: RuntimeWarning: divide by zero encountered in double_scalars
  calc_sale_value = (row['sale'] - sale_value) / sale_value * 100
/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_71585/274360456.py:35: RuntimeWarning: divide by zero encountered in double_scalars
  calc_epsfx_value = (row['epsfx'] - epsfx_value) / epsfx_value * 100

,gvkey,fyear,ap,at,capx,cogs,epsfx,gp,invt,ni,...,calc_ap_value,calc_at_value,calc_capx_value,calc_cogs_value,calc_epsfx_value,calc_gp_value,calc_invt_value,calc_ni_value,calc_rect_value,calc_sale_value
0,1045,2019,2062.000,59995.000,4268.000,32027.000,3.79,13741.000,1851.000,1686.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1045,2022,2149.000,64716.000,2906.000,37631.000,0.19,11340.000,2279.000,127.000,...,4.219205,7.868989,-31.911903,17.497736,-94.986807,-17.473255,23.122636,-92.467378,22.171429,6.998339
2,1050,2019,48.762,408.637,5.655,225.660,0.50,116.209,55.383,17.707,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1050,2022,73.407,504.721,3.376,290.826,0.50,131.801,97.542,17.417,...,50.541405,23.513289,-40.300619,28.877958,0.000000,13.417205,76.122637,-1.637770,21.410410,23.622499
4,1075,2019,346.448,18479.247,1209.975,2208.320,4.77,1262.889,345.920,538.320,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7823,330227,2022,9.237,632.921,76.405,98.716,1.25,163.386,2.833,118.561,...,2147.445255,1980.539759,343.518895,2799.148311,303.225806,6274.795162,1867.361111,10797.150735,1572.028689,4291.789544
7824,331856,2019,2.423,65.955,0.055,0.000,-4.52,0.000,0.000,-34.933,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7825,331856,2022,4.281,127.753,0.112,0.000,-3.78,0.000,0.000,-120.407,...,76.681799,93.697218,103.636364,NaN,-16.371681,NaN,NaN,244.679816,250.527704,NaN
7826,332115,2019,0.547,25.451,0.224,0.000,-2.55,0.000,0.000,-19.479,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7827,332115,2022,1.678,95.834,2.211,41.562,-1.08,-36.054,0.000,-36.917,...,206.764168,276.543161,887.053571,inf,-57.647059,-inf,NaN,89.522049,inf,inf

# The Final Dataset

In [25]:
# merge acct with filtered_out_df
filtered_out_df['fyear'] = pd.to_datetime(filtered_out_df['srcdate']).dt.year
final = filtered_out_df.merge(acct, how='inner',on=['gvkey','fyear'])
final

NameError: name 'acct' is not defined

In [ ]:
# drop vars for final merge

In [ ]:
fin = final.groupby("CIK")['cnms'].apply(lambda x: list(np.unique(x)))
len(fin)

In [ ]:
filtered_out_df.shape

In [ ]:
final.shape

In [ ]:
acct_raw.shape

In [ ]:
3476-3317